.page-numbers-container {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 0.3rem;
  margin-block: 1rem 2rem;
}

.page-number {
  border-radius: 50%;
  width: 27px;
  aspect-ratio: 1;
  background-color: #dededf;
  border: none;
  cursor: pointer;
}

.page-numbers-container .active {
  background-color: #1e1717;
  color: #fff;
  scale: 1.1;
  transform: translateY(-2px);
  margin-inline: 3px;
}

.skip-backward-icon,
.fast-forward-icon {
  font-size: 24px;
  cursor: pointer;
}
